body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.collapsible-trigger {
  cursor: pointer;
  position: relative;
  padding-left: 30px;
}

.collapsible-trigger:before {
  content: '▶';
  position: absolute;
  left: 0;
}

.is-open {
  cursor: pointer;
}

.is-open:before {
  content: '▼'; /* Keep the arrow when active */
 
  transform: translateY(-50%); /* Ensure it stays vertically aligned */
}