.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.vesting-session-card {
  border: none;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 16px;
  background-color: white;
}

.vesting-session-card .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.vesting-session-card .header .title {
  font-size: 16px;
  font-weight: 700;
}

.vesting-session-card .header .tag {
  font-weight: 700;
}

.vesting-session-card .total-amount {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;
}

.vesting-session-card .claimable-amount {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 12px;
}

.vesting-session-card .input-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.vesting-session-card .input-container button {
  padding: 12px 16px;
  width: 100%;
  max-width: 30%;
  min-width: 128px;
}

.vesting-session-card input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
  background-color: #f5f5ff;
  border: none;
  border-radius: 8px;
}

.vesting-session-card hr {
  margin: 24px 0px 12px 0px;
  color: #010112;
  opacity: 40%;
}
